{% extends 'base.html' %}

{% block content %}
<div class="col">
  <h1>{{ message }}</h1>
  <ul class="list-group">
    {% for product in products %}
      <li class="list-group-item">
        {{ product.title }}

        <!-- Este es un comentario HTML -->
        {# Este es un comentario de django #}

        {% if product.stock %}
          <span class="text-success">Disponible</span>
        {% else %}
          <span class="text-danger">No disponible</span>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {# <img src="{% static 'image/mochila.png' %}" alt="imagen mochila"> #}
</div>
{% endblock %}